{{ content_for_index }}
      <main>
        <h1>Fenrir The Monster Wolf of Norse Mythology Necklace {{ template }}</h1>
        <p class="mainPrice">
            <span>$19.95</span>
            <span>$29.95</span>
        </p>
        <a href="{{ routes.collections_url }}" class="mainBtn">Start Shopping</a>
    </main>